@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark / Light theme */
:root { color-scheme: light; }
html.dark { color-scheme: dark; }
html,body,#root { height: 100%; }
html.dark body { background: #0b0d0f; color: #e6eef8; }
body { margin:0; font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
